@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .dark-mode {
    --bg-color: #111827;
    --text-color: #f9fafb;
  }
  .light-mode {
    --bg-color: #ffffff;
    --text-color: #000000;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

button {
  @apply bg-blue-500 text-white p-2 rounded transition-transform duration-300 ease-in-out hover:scale-105 hover:bg-blue-700;
}
